<form method="DELETE" action="{{ path('admin_categorie_delete_categorie', {'id': category.id}) }}">
  <a href="{{ path('admin_categorie_delete_categorie', {'id': category.id}) }}" data-delete data-token="{{ csrf_token('delete_categorie' ~ category.id) }}" class="btn btn3">Supprimer</a>
</form>