<section class="container">
	<div class="row justify-content-center">
		<div class="col">
			{{ form_start(categoryForm) }}
			<div class="mt-3">
			{{ form_row(categoryForm.name) }}
			</div>
			<div>
				<button class="btn mt-4" type="submit">
					{{ button_label | default ('Ajouter') }}
				</button>
			</div>
			{{ form_end(categoryForm) }}

		</div>
	</div>
</section>
