<form
	method="DELETE" action="{{ path('admin_user_delete_user', {'id': user.id}) }}">
	<a class="btn btn2" href="{{ path('admin_user_delete_user', {'id': user.id}) }}" data-delete data-token="{{ csrf_token('delete_user' ~ user.id) }}">Supprimer le compte</a>
</form>
