{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<div class="triangle triangle-left" style="background-image: url('{{ image_left_url }}');"></div>
<div class="triangle triangle-right" style="background-image: url('{{ image_right_url }}');"></div>

{{ include('testimony/index.html.twig') }}




{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}

{% endblock %}
