{% extends "base.html.twig" %}

{% block title %}Administration des véhicules{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1 class="text-center">Ajouter un véhicule</h1>
                {% include "admin/vehicle/_form.html.twig" %}
            </div>
        </section>
    </main>
    {{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}
{% endblock %}