{% extends 'base.html.twig' %}

{% block title %}Réparation de véhicules{% endblock %}

{% block body %}
<h1>Réparation de véhicules</h1>
<p>Notre garage est spécialisé dans la réparation de véhicules de toutes marques et tout modèles.</p>
{{ include('repair/category_repairs.twig')}}


{{ include('_partials/_footer.html.twig', { 'business_hours': business_hours }) }}
{% endblock %}
