.btn, .btn2, .btn3, .btn4, .btnTime {
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--hoverbtn-color);
    color: var(--templates-color);
  }
  
  .btn2 {
    background-color: var(--button2-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .btn2:hover {
    background-color: var(--hoverbtn-color);
    color: var(--templates-color);
    
  }
  
  .btn3 {
    background-color: var(--button3-color);
    color: var(--template-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .btn3:hover {
    background-color: var(--hoverbtn-color);
    color: var(--templates-color);
  }

  .btn4{
    background-color: var(--template-color);
    color: var(--text-color);
  }

  .btn4:hover {
    background-color: var(--hoverbtn-color);
    color: var(--templates-color);
  }
  
  .btnTime {
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .btnTime:hover {
    background-color: var(--hoverbtn-color);
    color: var(--template-color);
  }

  .badge-success {
    background-color: var(--button3-color);
    color: var(--template-color);
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }

  .badge-info {
    background-color: var(--button3-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }

  .badge-warning {
    background-color: var(--button2-color);
    color: var(--template-color);
    font-family:'Lato', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }

  /*Barre des price*/
  .price-range {
    margin-top: 20px;
  }
  
  .price-range input[type="range"] {
    width: 100%;
  }
  
  .price-range .price-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .price-range .price-labels span {
    font-size: 12px;
  }

  .form-range {
    width: 100%;
}

  